/* Instructions

Fork this repository to start working on the assignment.

Here are the base CSS styles to start with.

css */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;

  /* margin-top: auto; */
}

.icon {
  font-size: 4rem;

  order: -1;
  align-self: center;
}

.emojis{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 850px;
}

.emoji p{
  flex-grow: 1;
}

